In [1]:
import pandas as pd
import numpy as np
import os
print(os.listdir("../input"))

df = pd.read_csv('../input/jobs-on-naukricom/naukri_com-job_sample.csv')
df.head()

['jobs-on-naukricom']

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [2]:
df.drop(['uniq_id', 'jobid','site_name'], axis = 1, inplace = True)
df.head()

,company,education,experience,industry,jobdescription,joblocation_address,jobtitle,numberofpositions,payrate,postdate,skills
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,ITES
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,Marketing
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,Accounts
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming

In [3]:
df.shape

(22000, 11)

In [4]:
df.describe()

       numberofpositions
count        4464.000000
mean           45.116935
std           186.197193
min             1.000000
25%             2.000000
50%             4.000000
75%            10.000000
max          2000.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              21996 non-null  object
 1   education            20004 non-null  object
 2   experience           21996 non-null  object
 3   industry             21995 non-null  object
 4   jobdescription       21996 non-null  object
 5   joblocation_address  21499 non-null  object
 6   jobtitle             22000 non-null  object
 7   numberofpositions    4464 non-null   float64
 8   payrate              21903 non-null  object
 9   postdate             21977 non-null  object
 10  skills               21472 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.8+ MB

In [6]:
std_dev = df['numberofpositions'].std()
print(std_dev)

186.19719329965216

In [7]:
df['numberofpositions'].fillna(int(std_dev), inplace=True)

In [8]:
df

,company,education,experience,industry,jobdescription,joblocation_address,jobtitle,numberofpositions,payrate,postdate,skills
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,Chennai,Walkin Data Entry Operator (night Shift),186.0,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,ITES
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,Marketing
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,Bengaluru,Pl/sql Developer - SQL,186.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,186.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,Accounts
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming
...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,9 - 13 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,Not Disclosed by Recruiter,2016-11-25 22:47:05 +0000,IT Software - QA & Testing
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,3 - 5 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,186.0,"8,50,000 - 14,00,000 P.A",2016-11-24 22:47:05 +0000,IT Software - Application Programming
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,2 - 4 yrs,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,Bengaluru,Full Stack Development Engineer,186.0,Not Disclosed by Recruiter,2016-11-25 22:47:05 +0000,IT Software - Application Programming
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,7 - 12 yrs,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,186.0,Not Disclosed by Recruiter,2016-11-27 22:47:05 +0000,IT Software - Application Programming
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,5 - 10 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,Bengaluru,RF Firmware Engineers,186.0,"12,00,000 - 22,00,000 P.A",2016-11-25 22:47:05 +0000,IT Software - System Programming

In [9]:
df['company'] = df['company'].astype(str)
df['education'] = df['education'].astype(str)
df['experience'] = df['experience'].astype(str)
df['industry'] = df['industry'].astype(str)
df['jobdescription'] = df['jobdescription'].astype(str)

df['joblocation_address'] = df['joblocation_address'].astype(str)
df['jobtitle'] = df['jobtitle'].astype(str)
df['numberofpositions'] = df['numberofpositions'].astype(str)
df['payrate'] = df['payrate'].astype(str)
df['postdate'] = df['postdate'].astype(str)

df['skills'] = df['skills'].astype(str)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              22000 non-null  object
 1   education            22000 non-null  object
 2   experience           22000 non-null  object
 3   industry             22000 non-null  object
 4   jobdescription       22000 non-null  object
 5   joblocation_address  22000 non-null  object
 6   jobtitle             22000 non-null  object
 7   numberofpositions    22000 non-null  object
 8   payrate              22000 non-null  object
 9   postdate             22000 non-null  object
 10  skills               22000 non-null  object
dtypes: object(11)
memory usage: 1.8+ MB

In [11]:
df.head()

,company,education,experience,industry,jobdescription,joblocation_address,jobtitle,numberofpositions,payrate,postdate,skills
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,Chennai,Walkin Data Entry Operator (night Shift),186.0,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,ITES
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,Marketing
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,Bengaluru,Pl/sql Developer - SQL,186.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,186.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,Accounts
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming

****Recommender system based on the "jobtitle" and "experience" columns:****

In [12]:
import os
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load the naukri.com dataset
df = pd.read_csv('/kaggle/input/jobs-on-naukricom/naukri_com-job_sample.csv')

# Process the data
df['jobtitle'] = df['jobtitle'].apply(lambda x: x.lower())  # convert to lowercase
df['experience'] = df['experience'].str.extract('(\d+)').astype(float)  # extract years of experience
df = df.dropna(subset=['jobtitle', 'experience'])  # drop rows with missing values
df = df.drop_duplicates(subset=['jobtitle', 'experience'])  # drop duplicate rows

# Define the input variables
jobtitle_vectorizer = CountVectorizer()
jobtitle_matrix = jobtitle_vectorizer.fit_transform(df['jobtitle'])
experience_matrix = np.array(df['experience']).reshape(-1, 1)

# Build the recommender system
def get_similar_jobs(jobtitle, experience, top_n=10):
    jobtitle_vector = jobtitle_vectorizer.transform([jobtitle.lower()])
    similarity_scores = cosine_similarity(jobtitle_vector, jobtitle_matrix).flatten()
    similarity_scores *= experience_matrix[:, 0] / experience  # adjust for years of experience
    top_indices = similarity_scores.argsort()[::-1][:top_n]
    return df.iloc[top_indices]['jobtitle'].values

# Test the recommender system
print(get_similar_jobs('data analyst', 3))

['senior analyst' 'data specialist: master data management'
 'hrt data lead' 'chief data scientist' 'director data science'
 'data specialist' 'data scientist (big data)' 'big data architect'
 'master data management- data analyst ( sme)- bangalore'
 'practice head - data visualization']

In [13]:
import os
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load the naukri.com dataset
df = pd.read_csv('/kaggle/input/jobs-on-naukricom/naukri_com-job_sample.csv')

# Process the data
df = df.dropna(subset=['skills', 'education'])  # drop rows with missing values
df = df.drop_duplicates(subset=['skills', 'education'])  # drop duplicate rows

# Define the input variables
skills_vectorizer = CountVectorizer()
skills_matrix = skills_vectorizer.fit_transform(df['skills'])
education_matrix = np.array(df['education']).reshape(-1, 1)

# Build the recommender system
def get_similar_jobs(skills, education, top_n=10):
    skills_vector = skills_vectorizer.transform([skills.lower()])
    similarity_scores = cosine_similarity(skills_vector, skills_matrix).flatten()
    similarity_scores *= (education_matrix[:, 0] == education).astype(int)  # adjust for education level
    top_indices = similarity_scores.argsort()[::-1][:top_n]
    return df.iloc[top_indices]['jobtitle'].values

# Test the recommender system
print(get_similar_jobs('python', 'M.Tech'))

['RF Firmware Engineers' 'Management Trainee - Project Management'
 'SOAP UI - Consultant' 'GM ( Marketing ) - Long & Flat ( Steel Product )'
 'Asm-chennai for FMCG in MNC' 'Cobol Developer - Jcl/db2'
 'Associate Manager' 'Business Head-industrial Consumable-mnc-chennai'
 'Opening FOR Change Management WITH Infrastructure i IN Chennai'
 'Walkin Drive for Maths Primary Teacher - Alpha CBSE School']

In [14]:
import os
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load the naukri.com dataset
df = pd.read_csv('/kaggle/input/jobs-on-naukricom/naukri_com-job_sample.csv')

# Process the data
df = df.dropna(subset=['skills', 'education'])  # drop rows with missing values
df = df.drop_duplicates(subset=['skills', 'education'])  # drop duplicate rows

# Define the input variables
skills_vectorizer = CountVectorizer()
skills_matrix = skills_vectorizer.fit_transform(df['skills'])
education_matrix = np.array(df['education']).reshape(-1, 1)

# Build the recommender system
def get_similar_jobs(skills, education, top_n=3):
    skills_vector = skills_vectorizer.transform([skills.lower()])
    similarity_scores = cosine_similarity(skills_vector, skills_matrix).flatten()
    similarity_scores *= (education_matrix[:, 0] == education).astype(int)  # adjust for education level
    top_indices = similarity_scores.argsort()[::-1][:top_n]
    return df.iloc[top_indices]

# Test the recommender system
result = get_similar_jobs('python', 'M.Tech')
result_df = pd.DataFrame(result)
#print(result_df)

In [15]:
from IPython.display import display
display(result_df)

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,5 - 10 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,"12,00,000 - 22,00,000 P.A",2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,74fec26df6e1c0be0171311a2f03f180
4657,"Sensiple Software Solutions Pvt. Ltd., hiring ...","UG: Any Graduate - Any Specialization, Graduat...",0 - 1 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Dear ...,301115077665,Chennai,Management Trainee - Project Management,NaN,"3,00,000 - 4,00,000 P.A. Medical Insurance",2015-11-30 01:33:25 +0000,NaN,IT Software - Other,422753faa0a35f594e3e65cfb00edb9e
4689,SAKSOFT,UG: Any Graduate - Any Specialization PG:Any P...,3 - 4 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Stron...,261115900551,Chennai,SOAP UI - Consultant,NaN,Not Disclosed by Recruiter,2015-11-26 01:33:26 +0000,NaN,IT Software - ERP,2f98c7dda373b860ac1458c50f3c4ea3

In [16]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load the data
data = pd.read_csv('/kaggle/input/jobs-on-naukricom/naukri_com-job_sample.csv')

# Replace NaN values with an empty string
data = data.replace(np.nan, '', regex=True)

# Select the columns for analysis
columns = ['skills', 'education']

# Combine the selected columns into a single feature column
data['features'] = data[columns].apply(lambda x: ' '.join(x), axis=1)

# Create a TF-IDF vectorizer to convert text to vectors
tfidf = TfidfVectorizer(stop_words='english')

# Fit and transform the feature column to obtain a matrix of vectorized text
tfidf_matrix = tfidf.fit_transform(data['features'])

# Compute the cosine similarity between all pairs of job postings
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Define a function to get the top recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim, data=data, top=2):
    # Get the index of the job posting that matches the title
    idx = data[data['jobtitle']==title].index[0]

    # Get the similarity scores between the job posting and all other job postings
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the job postings based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the top recommendations
    recommendations = sim_scores[1:top+1]

    # Get the indices of the top recommendations
    indices = [rec[0] for rec in recommendations]

    # Return the top recommendations as a dataframe
    return data.iloc[indices]

# Test the recommendation system by getting the top 10 recommendations for a job title
recommendations = get_recommendations('Data Scientist')
print(recommendations)

                                                 company  \
1560   ScaleneWorks People Solutions LLP hiring for B...
21283                            Karvy Analytics Limited

                                               education experience  \
1560   UG: Any Graduate - Any Specialization PG:Any P...  3 - 5 yrs
21283  UG: Any Graduate - Any Specialization PG:Any P...  4 - 8 yrs

                                     industry  \
1560   Banking / Financial Services / Broking
21283              KPO / Research / Analytics

                                          jobdescription         jobid  \
1560   Job Description   Send me Jobs like this Key R...   71016001099
21283  Job Description   Send me Jobs like this Respo...  201216004024

      joblocation_address                                    jobtitle  \
1560            Bengaluru  Asst. Manager /deputy Manager Microsoft BI
21283           Hyderabad                            Sr Data Scietist

      numberofpositions                                      payrate  \
1560                1.0  6,50,000 - 10,00,000 P.A. Plus Yearly Bonus
21283               2.0                     6,00,000 - 12,00,000 P.A

                        postdate       site_name  \
1560   2016-10-07 16:21:37 +0000
21283  2016-12-20 18:19:23 +0000  www.naukri.com

                                  skills                           uniq_id  \
1560   Analytics & Business Intelligence  42d69281e6c6a0d621dcecaa685ea094
21283  Analytics & Business Intelligence  0abdcbe9423d9e4730c1b16db7954f77

                                                features
1560   Analytics & Business Intelligence UG: Any Grad...
21283  Analytics & Business Intelligence UG: Any Grad...

In [17]:
# Test the recommendation system by getting the top 10 recommendations for a job title
recommendations = get_recommendations('Data Scientist')
display(recommendations)

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id,features
1560,ScaleneWorks People Solutions LLP hiring for B...,UG: Any Graduate - Any Specialization PG:Any P...,3 - 5 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this Key R...,71016001099,Bengaluru,Asst. Manager /deputy Manager Microsoft BI,1.0,"6,50,000 - 10,00,000 P.A. Plus Yearly Bonus",2016-10-07 16:21:37 +0000,,Analytics & Business Intelligence,42d69281e6c6a0d621dcecaa685ea094,Analytics & Business Intelligence UG: Any Grad...
21283,Karvy Analytics Limited,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,KPO / Research / Analytics,Job Description Send me Jobs like this Respo...,201216004024,Hyderabad,Sr Data Scietist,2.0,"6,00,000 - 12,00,000 P.A",2016-12-20 18:19:23 +0000,www.naukri.com,Analytics & Business Intelligence,0abdcbe9423d9e4730c1b16db7954f77,Analytics & Business Intelligence UG: Any Grad...